<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432673934851-eo9dvgfk09gdshcplbhsfi2p6eiea42m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432673934851-eo9dvgfk09gdshcplbhsfi2p6eiea42m</string>
	<key>API_KEY</key>
	<string>AIzaSyC9Lzi2zCQa_s_p0A5p0I-yxlVhSbSmhsg</string>
	<key>GCM_SENDER_ID</key>
	<string>432673934851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myProject</string>
	<key>PROJECT_ID</key>
	<string>myproject-b1f97</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-b1f97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432673934851:ios:24c826c42a92f197c38836</string>
</dict>
</plist>